<div ng-controller="MainCtrl">
  
  <h1>{{ model.user }} TODO list
  <span class="label label-default" ng-class="warningLevel()" ng-hide="incompleteCount() == 0">
   {{ incompleteCount() }} </span>
  </h1>
  <span> <button class="btn btn-default" ng-click="loadFromJson()">Load from JSON  
  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
  </button> </span>
  <span> <input type="checkbox" ng-model="showComplete"/> Show complete </span>
  <div class="panel">
    <div class="input-group">
      <input class="form-control" ng-model="actionText"/>
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
          </span>
    </div>
    <table class="table table-striped">
      <thead><tr>
          <th>Description</th>
          <th>Done</th>
      </tr></thead>
      <tbody>
        <tr ng-repeat="item in model.items | checkedItems:showComplete | orderBy: ['done', 'action']">
          <td> {{item.action}} </td>
          <td><input type="checkbox" ng-model="item.done"/></td>
          <!-- <td> {{item.done}} </td> -->
        </tr>
      </tbody>
    </table>
  </div>
    <span> What is your name? <input type="text" ng-model="model.user"/></span>
</div>
